<html>

<head>
    <title>JS Ruby Chat!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="jsrubyChat" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1>JS Ruby Chat</h1>
            </div>
            <div>
                <div class="form-group">
                    <textarea ng-model="chatarea" class="form-control full" rows="10"></textarea>
                </div>
                <form ng-submit="postMessage()" class="form-inline">
                    <input type="text" ng-model="name" class="form-control" placeholder='Your Name' required></input>
                    <input type="text" ng-model="message" class="form-control" placeholder='Message' required></input>
                    <button type="submit" class="btn btn-success">Send!</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
